@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Barrio');
body {
    background-color: #3524a1;
    color: #fff1a1;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    margin: 20px auto;
    max-width: 600px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    font-size: 37px;
    font-family: Barrio, monospace;
    border-color: #33c3d6;
    border-style: ridge;
    text-align: center;
    background-color: #321515;
}

h3 {
    font-size: 20px;
}

footer {
    font-size: 15px;
    text-align: center;
}

a {
    color: chartreuse;
}

a:hover {
    color: ivory;
}
